body {
  font-family: "Merriweather", serif;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
  list-style: none;
}

h3 {
  font-size: 23px;
  margin-bottom: 30px;
}
h6 {
  text-align: center;
  font-size: 15px;
}

.card-body {
  border: 2px solid grey;
  box-shadow: 5px 5px 10px #000000;
  padding-bottom: 20px;
}

.today {
  background: rgb(234, 191, 159, 40%);
  margin-bottom: 30px;
}

.this-week {
  background: rgb(234, 191, 159, 40%);
  display: block;
}

.temperature {
  font-size: 80px;
  font-weight: bolder;
  line-height: 1;
  padding-left: 10px; 
}

.units {
  position: relative;
  font-size: 16px;
  top: -45px;
  left: -20px; 
  text-decoration: none;
}

.fa-map-marker-alt {
  color: red;
  font-size: 35px;
}
.fa-clock {
  color: blue;
}

.location-input {
  margin-bottom: 30px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 0px;
  margin-bottom: 0px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 14px;
}

.weather-forecast h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 5px;
  padding: 5px;
}
