body {
  font-family: "Merriweather", serif;
  color: white;
  text-shadow: 2px 2px 2px #2c2c2c;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
  list-style: none;
}

h3 {
  font-size: 23px;
  margin-bottom: 30px;
}
h6 {
  text-align: center;
  font-size: 15px;
}

button {
  margin-left: 20px;
} 

.card-body {
  border: 2px solid grey;
  box-shadow: 3px 3px 10px #505050;
  padding-bottom: 10px;
}

.today {
  background: rgb(234, 191, 159, 40%);
  margin-bottom: 30px;
}

.temperature {
  font-size: 80px;
  font-weight: bolder;
  line-height: 1;
  padding-left: 10px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -45px;
  text-decoration: none;
}

.fa-map-marker-alt {
  color: red;
  font-size: 35px;
}
.fa-clock {
  color: blue;
}

.location-input {
  margin-bottom: 30px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
